In [1]:
# Collaborative Filtering - Recomendation system

import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error, mean_absolute_error
from math import sqrt
import yaml

# ------------------------------------------------------------------
# 1 - Load train/test paths from config.yaml
# ------------------------------------------------------------------
with open("../config.yaml", "r") as file:
    config = yaml.safe_load(file)

train_path = config['output_data']['train_file']
test_path = config['output_data']['test_file']

print("Loading data from config paths:")
print(f"  Train file: {train_path}")
print(f"  Test file : {test_path}")

Loading data from config paths:
  Train file: ../data/clean/train_file.csv
  Test file : ../data/clean/test_file.csv

In [50]:
# ------------------------------------------------------------------
# 2 - Load clean training & test data
# ------------------------------------------------------------------
train_df = pd.read_csv(train_path)
test_df = pd.read_csv(test_path)

# Ensure essential columns exist
required_cols = ['wine_type_id', 'wine_category_id', 'food_item_id', 'food_category_id', 'cuisine_id', 'pairing_quality']
for col in required_cols:
    assert col in train_df.columns, f"‚ùå Missing column '{col}' in train data!"
    assert col in test_df.columns, f"‚ùå Missing column '{col}' in test data!"

# Keep only collaborative filtering columns
train_cf = train_df[['wine_type_id', 'wine_category_id', 'food_item_id', 'food_category_id', 'cuisine_id', 'pairing_quality']]
test_cf = test_df[['wine_type_id', 'wine_category_id', 'food_item_id', 'food_category_id', 'cuisine_id', 'pairing_quality']]

print(f"‚úÖ Train shape: {train_cf.shape}, Test shape: {test_cf.shape}")

‚úÖ Train shape: (27946, 6), Test shape: (6987, 6)

In [51]:
# Create the base pivot using only existing data
test_cf['wine_pair'] = (
    test_cf['wine_type_id'].astype(str) + '-' + test_cf['wine_category_id'].astype(str)
)
test_cf['food_pair'] = (
    test_cf['food_item_id'].astype(str) + '-' +
    test_cf['food_category_id'].astype(str) + '-' +
    test_cf['cuisine_id'].astype(str)
)

display(train_cf.head())
display(test_cf.head())

C:\Users\julia\AppData\Local\Temp\ipykernel_1084\3674855275.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_cf['wine_pair'] = (
C:\Users\julia\AppData\Local\Temp\ipykernel_1084\3674855275.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_cf['food_pair'] = (

,wine_type_id,wine_category_id,food_item_id,food_category_id,cuisine_id,pairing_quality
0,21,0,32,6,8,2
1,15,2,16,2,7,1
2,3,4,7,6,3,5
3,20,2,37,11,10,1
4,21,0,33,8,13,1

,wine_type_id,wine_category_id,food_item_id,food_category_id,cuisine_id,pairing_quality,wine_pair,food_pair
0,7,2,29,8,11,2,7-2,29-8-11
1,3,4,19,1,5,2,3-4,19-1-5
2,21,0,28,7,14,1,21-0,28-7-14
3,28,2,15,0,8,5,28-2,15-0-8
4,4,4,5,6,3,2,4-4,5-6-3

In [52]:
import itertools

# Get unique combinations
wine_pairs = (
    train_cf[['wine_type_id', 'wine_category_id']]
    .drop_duplicates()
    .assign(wine_pair=lambda df: df['wine_type_id'].astype(str) + '-' + df['wine_category_id'].astype(str))
)

food_combos = (
    train_cf[['food_item_id', 'food_category_id']]
    .drop_duplicates()
)

cuisines = train_cf['cuisine_id'].unique()

# Create all possible food pairs = (food_item_id, food_category_id) x (cuisine_id)
food_pairs_all = pd.DataFrame(
    list(itertools.product(
        food_combos['food_item_id'], 
        food_combos['food_category_id'], 
        cuisines
    )),
    columns=['food_item_id', 'food_category_id', 'cuisine_id']
)

food_pairs_all['food_pair'] = (
    food_pairs_all['food_item_id'].astype(str) + '-' +
    food_pairs_all['food_category_id'].astype(str) + '-' +
    food_pairs_all['cuisine_id'].astype(str)
)

# Create the base pivot using only existing data
train_cf['wine_pair'] = (
    train_cf['wine_type_id'].astype(str) + '-' + train_cf['wine_category_id'].astype(str)
)
train_cf['food_pair'] = (
    train_cf['food_item_id'].astype(str) + '-' +
    train_cf['food_category_id'].astype(str) + '-' +
    train_cf['cuisine_id'].astype(str)
)

pair_matrix = train_cf.pivot_table(
    index='wine_pair',
    columns='food_pair',
    values='pairing_quality',
    aggfunc='mean'
)

# Reindex to include *all* possible food pairs
pair_matrix = pair_matrix.reindex(columns=food_pairs_all['food_pair'], fill_value=pd.NA)

print(pair_matrix.head())

food_pair    32-6-8    32-6-7    32-6-3   32-6-10   32-6-13   32-6-11  32-6-9  \
wine_pair
0-5        1.500000  2.750000  3.000000  3.333333  2.750000  3.000000    2.75
1-2        2.000000  2.750000  2.666667  2.000000  2.666667  2.000000    2.75
10-5       2.750000  2.000000  2.750000  3.333333  2.000000  2.666667    2.75
11-0       3.333333  2.666667  2.000000  3.000000  2.750000  2.750000    2.50
12-1       2.000000       NaN  2.000000  2.750000  1.000000  2.666667    3.00

food_pair    32-6-4    32-6-1  32-6-16  ...  1-10-4  1-10-1  1-10-16  1-10-2  \
wine_pair                               ...
0-5        2.000000  2.750000     2.75  ...     NaN     NaN      NaN     NaN
1-2        2.666667  2.750000     2.75  ...     NaN     NaN      NaN     NaN
10-5       2.000000  3.000000     2.50  ...     NaN     NaN      NaN     NaN
11-0       1.500000  2.666667     2.50  ...     NaN     NaN      NaN     NaN
12-1       2.666667  2.750000     2.75  ...     NaN     NaN      NaN     NaN

food_pair  1-10-0  1-10-14  1-10-15 1-10-12 1-10-6 1-10-5
wine_pair
0-5           NaN      NaN      NaN     NaN    NaN    NaN
1-2           NaN      NaN      NaN     NaN    NaN    NaN
10-5          NaN      NaN      NaN     NaN    NaN    NaN
11-0          NaN      NaN      NaN     NaN    NaN    NaN
12-1          NaN      NaN      NaN     NaN    NaN    NaN

[5 rows x 25857 columns]

C:\Users\julia\AppData\Local\Temp\ipykernel_1084\2161167419.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_cf['wine_pair'] = (
C:\Users\julia\AppData\Local\Temp\ipykernel_1084\2161167419.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_cf['food_pair'] = (

In [53]:
# ------------------------------------------------------------------
# 3 - Compute wine‚Äìwine similarity (rows = wines, columns = foods)
# ------------------------------------------------------------------

# Replace pd.NA with np.nan and convert to float
pair_matrix_numeric = pair_matrix.replace({pd.NA: np.nan}).to_numpy(dtype=float)

# Fill missing values with 0 before computing similarity
pair_matrix_filled = np.nan_to_num(pair_matrix_numeric)

# Compute cosine similarity between wine rows
wine_similarity = cosine_similarity(pair_matrix_filled)

# Convert back to a labeled DataFrame for readability
wine_similarity_df = pd.DataFrame(
    wine_similarity,
    index=pair_matrix.index,    # wine_pair names (rows)
    columns=pair_matrix.index   # wine_pair names (columns)
)

print("‚úÖ Wine‚ÄìWine similarity matrix computed:")
print(wine_similarity_df.head())

C:\Users\julia\AppData\Local\Temp\ipykernel_1084\1723807725.py:6: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  pair_matrix_numeric = pair_matrix.replace({pd.NA: np.nan}).to_numpy(dtype=float)

‚úÖ Wine‚ÄìWine similarity matrix computed:
wine_pair       0-5       1-2      10-5      11-0      12-1      13-2  \
wine_pair
0-5        1.000000  0.626354  0.971439  0.741712  0.736660  0.562448
1-2        0.626354  1.000000  0.618121  0.527284  0.797522  0.864050
10-5       0.971439  0.618121  1.000000  0.735951  0.732912  0.551261
11-0       0.741712  0.527284  0.735951  1.000000  0.660170  0.597705
12-1       0.736660  0.797522  0.732912  0.660170  1.000000  0.711247

wine_pair      14-2      15-2      16-2      17-1  ...      26-5      27-3  \
wine_pair                                          ...
0-5        0.567207  0.692315  0.627030  0.731167  ...  0.541315  0.622006
1-2        0.733887  0.659425  0.768113  0.777884  ...  0.643001  0.953159
10-5       0.562273  0.688951  0.619416  0.723676  ...  0.547399  0.606643
11-0       0.630577  0.627158  0.648772  0.655994  ...  0.591884  0.520590
12-1       0.603777  0.544495  0.630528  0.965355  ...  0.524701  0.788278

wine_pair      28-2       3-4       4-4       5-5       6-5       7-2  \
wine_pair
0-5        0.564795  0.709214  0.710704  0.567180  0.624346  0.767163
1-2        0.873784  0.704641  0.719096  0.684978  0.962430  0.817418
10-5       0.556801  0.705600  0.704683  0.562000  0.614306  0.759297
11-0       0.593939  0.681092  0.681412  0.605932  0.528260  0.626148
12-1       0.715290  0.582475  0.594925  0.564823  0.790002  0.673395

wine_pair       8-5       9-2
wine_pair
0-5        0.541668  0.559028
1-2        0.829219  0.702880
10-5       0.531677  0.560721
11-0       0.453564  0.618619
12-1       0.684821  0.576255

[5 rows x 29 columns]

In [54]:
# ------------------------------------------------------------------
# 4 - Predict ratings for unseen wine‚Äìfood pairs
# ------------------------------------------------------------------
def predict_cf(user_item_matrix, similarity_matrix):
    """
    Collaborative filtering prediction using weighted sum of similar users' ratings.
    """
    # Convert to DataFrame and ensure all missing values are np.nan
    user_item_df = pd.DataFrame(user_item_matrix).replace({pd.NA: np.nan})
    
    # Convert safely to a numeric NumPy array
    user_item_matrix = user_item_df.to_numpy(dtype=float)
    
    # Compute mean rating per user (ignoring NaNs)
    mean_user_rating = np.nanmean(user_item_matrix, axis=1)
    
    # Center ratings by subtracting the user mean
    ratings_diff = np.where(np.isnan(user_item_matrix), 0,
                            user_item_matrix - mean_user_rating[:, np.newaxis])
    
    # Weighted sum of neighbors' deviations
    pred = mean_user_rating[:, np.newaxis] + (similarity_matrix.dot(ratings_diff) / np.abs(similarity_matrix).sum(axis=1)[:, np.newaxis])
    
    # Replace remaining NaN with zeros (optional)
    return np.nan_to_num(pred)


# ------------------------------------------------------------------
# Generate predictions for all wine‚Äìfood pairs
# ------------------------------------------------------------------
# Replace pd.NA ‚Üí np.nan before calling the function
pair_matrix = pair_matrix.replace({pd.NA: np.nan})

wine_food_pred = predict_cf(pair_matrix.values, wine_similarity)

# Convert predictions back to a DataFrame
wine_food_pred_df = pd.DataFrame(
    wine_food_pred,
    index=pair_matrix.index,
    columns=pair_matrix.columns
)

print("‚úÖ Collaborative filtering predictions computed.")

print(wine_food_pred_df.head())

C:\Users\julia\AppData\Local\Temp\ipykernel_1084\2208675190.py:32: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  pair_matrix = pair_matrix.replace({pd.NA: np.nan})

‚úÖ Collaborative filtering predictions computed.
food_pair    32-6-8    32-6-7    32-6-3   32-6-10   32-6-13   32-6-11  \
wine_pair
0-5        2.536666  2.750118  2.503231  2.885580  2.608578  2.813128
1-2        2.658318  2.895145  2.596269  3.003427  2.738998  2.946653
10-5       2.568234  2.778701  2.534467  2.915664  2.636811  2.842479
11-0       2.655040  2.833770  2.574451  2.943081  2.699790  2.898145
12-1       2.648185  2.877628  2.570760  3.000661  2.694708  2.932100

food_pair    32-6-9    32-6-4    32-6-1   32-6-16  ...    1-10-4    1-10-1  \
wine_pair                                          ...
0-5        2.744646  2.663656  2.656960  2.742140  ...  2.937438  2.928785
1-2        2.859471  2.735077  2.723295  2.852205  ...  3.018373  3.021899
10-5       2.773956  2.693933  2.688268  2.771864  ...  2.968434  2.959473
11-0       2.806258  2.750382  2.726217  2.842374  ...  3.018199  3.008423
12-1       2.855439  2.741716  2.733107  2.844842  ...  3.027066  3.030288

food_pair   1-10-16    1-10-2    1-10-0   1-10-14   1-10-15   1-10-12  \
wine_pair
0-5        2.910867  2.964380  2.960721  2.937743  2.942803  2.928156
1-2        3.007295  3.050657  3.054867  3.029201  3.040263  3.016533
10-5       2.941476  2.995179  2.991358  2.968471  2.973361  2.958944
11-0       2.991255  3.042449  3.038007  3.017007  3.020839  3.008445
12-1       3.016894  3.056752  3.060527  3.036985  3.047133  3.025386

food_pair    1-10-6    1-10-5
wine_pair
0-5        2.971810  2.944753
1-2        3.060608  3.038383
10-5       3.002612  2.975415
11-0       3.049181  3.023215
12-1       3.065775  3.045407

[5 rows x 25857 columns]

In [55]:
from math import sqrt
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np
import pandas as pd

# ------------------------------------------------------------------
# 5 - Evaluate Collaborative Filtering model
# ------------------------------------------------------------------
true_ratings = []
pred_ratings = []

for _, row in test_cf.iterrows():
    u, i, true_score = row.wine_pair, row.food_pair, row.pairing_quality

    # Check if the pair exists in prediction matrix
    if (u in wine_food_pred_df.index) and (i in wine_food_pred_df.columns):
        pred_score = wine_food_pred_df.loc[u, i]

        # If it's a Series (multiple values), take the first
        if isinstance(pred_score, pd.Series):
            pred_score = pred_score.iloc[0]

        # Try to convert safely to float
        try:
            pred_score = float(pred_score)
            true_score = float(true_score)
        except (TypeError, ValueError):
            continue  # skip invalid rows

        # Add only finite values
        if np.isfinite(pred_score) and np.isfinite(true_score):
            true_ratings.append(true_score)
            pred_ratings.append(pred_score)

# ------------------------------------------------------------------
# Compute metrics
# ------------------------------------------------------------------
if len(pred_ratings) > 0:
    rmse = sqrt(mean_squared_error(true_ratings, pred_ratings))
    mae = mean_absolute_error(true_ratings, pred_ratings)
    print(f"üìä Collaborative Filtering Evaluation:")
    print(f"  RMSE: {rmse:.4f}")
    print(f"  MAE : {mae:.4f}")
    print(f"  ‚úÖ Evaluated {len(pred_ratings)} test pairs successfully.")
else:
    print("‚ö†Ô∏è No overlapping test ratings found for evaluation ‚Äî data may be too sparse.")

üìä Collaborative Filtering Evaluation:
  RMSE: 1.4192
  MAE : 1.1973
  ‚úÖ Evaluated 6987 test pairs successfully.

In [26]:
# ------------------------------------------------------------------
# 5 - Evaluate Collaborative Filtering model
# ------------------------------------------------------------------
true_ratings = []
pred_ratings = []

for _, row in test_cf.iterrows():
    u, i, true_score = int(row.wine_id), int(row.food_id), row.pairing_quality
    if (u in wine_food_pred_df.index) and (i in wine_food_pred_df.columns):
        pred_score = wine_food_pred_df.loc[u, i]
        true_ratings.append(true_score)
        pred_ratings.append(pred_score)

if len(pred_ratings) > 0:
    rmse = sqrt(mean_squared_error(true_ratings, pred_ratings))
    mae = mean_absolute_error(true_ratings, pred_ratings)
    print(f"üìä Collaborative Filtering Evaluation:")
    print(f"  RMSE: {rmse:.4f}")
    print(f"  MAE : {mae:.4f}")
else:
    print("‚ö†Ô∏è No overlapping test ratings found for evaluation ‚Äî data may be too sparse.")

AttributeError: 'Series' object has no attribute 'wine_id'

In [56]:
# ------------------------------------------------------------------
# 6 - Load the labels_df
# ------------------------------------------------------------------

with open("../config.yaml", "r") as file:
    config = yaml.safe_load(file)

labels_path = config['output_data']['labels_file']

labels_df = pd.read_csv(labels_path)

In [57]:
combined_cf = pd.concat([train_cf, test_cf], ignore_index=True)

In [58]:
test_cf

,wine_type_id,wine_category_id,food_item_id,food_category_id,cuisine_id,pairing_quality,wine_pair,food_pair
0,7,2,29,8,11,2,7-2,29-8-11
1,3,4,19,1,5,2,3-4,19-1-5
2,21,0,28,7,14,1,21-0,28-7-14
3,28,2,15,0,8,5,28-2,15-0-8
4,4,4,5,6,3,2,4-4,5-6-3
...,...,...,...,...,...,...,...,...
6982,4,4,18,8,4,3,4-4,18-8-4
6983,12,1,24,3,8,3,12-1,24-3-8
6984,28,2,11,1,5,4,28-2,11-1-5
6985,26,5,20,0,1,5,26-5,20-0-1
6986,16,2,13,5,16,3,16-2,13-5-16

In [59]:
train_cf

,wine_type_id,wine_category_id,food_item_id,food_category_id,cuisine_id,pairing_quality,wine_pair,food_pair
0,21,0,32,6,8,2,21-0,32-6-8
1,15,2,16,2,7,1,15-2,16-2-7
2,3,4,7,6,3,5,3-4,7-6-3
3,20,2,37,11,10,1,20-2,37-11-10
4,21,0,33,8,13,1,21-0,33-8-13
...,...,...,...,...,...,...,...,...
27941,11,0,33,8,16,3,11-0,33-8-16
27942,6,5,22,6,5,2,6-5,22-6-5
27943,16,2,32,6,13,3,16-2,32-6-13
27944,23,2,34,9,7,2,23-2,34-9-7
27945,25,5,0,10,10,1,25-5,0-10-10

In [60]:
combined_cf

,wine_type_id,wine_category_id,food_item_id,food_category_id,cuisine_id,pairing_quality,wine_pair,food_pair
0,21,0,32,6,8,2,21-0,32-6-8
1,15,2,16,2,7,1,15-2,16-2-7
2,3,4,7,6,3,5,3-4,7-6-3
3,20,2,37,11,10,1,20-2,37-11-10
4,21,0,33,8,13,1,21-0,33-8-13
...,...,...,...,...,...,...,...,...
34928,4,4,18,8,4,3,4-4,18-8-4
34929,12,1,24,3,8,3,12-1,24-3-8
34930,28,2,11,1,5,4,28-2,11-1-5
34931,26,5,20,0,1,5,26-5,20-0-1
34932,16,2,13,5,16,3,16-2,13-5-16

In [61]:
wine_food_pred_df

food_pair,32-6-8,32-6-7,32-6-3,32-6-10,32-6-13,32-6-11,32-6-9,32-6-4,32-6-1,32-6-16,...,1-10-4,1-10-1,1-10-16,1-10-2,1-10-0,1-10-14,1-10-15,1-10-12,1-10-6,1-10-5
wine_pair,,,,,,,,,,,,,,,,,,,,,
0-5,2.536666,2.750118,2.503231,2.885580,2.608578,2.813128,2.744646,2.663656,2.656960,2.742140,...,2.937438,2.928785,2.910867,2.964380,2.960721,2.937743,2.942803,2.928156,2.971810,2.944753
1-2,2.658318,2.895145,2.596269,3.003427,2.738998,2.946653,2.859471,2.735077,2.723295,2.852205,...,3.018373,3.021899,3.007295,3.050657,3.054867,3.029201,3.040263,3.016533,3.060608,3.038383
10-5,2.568234,2.778701,2.534467,2.915664,2.636811,2.842479,2.773956,2.693933,2.688268,2.771864,...,2.968434,2.959473,2.941476,2.995179,2.991358,2.968471,2.973361,2.958944,3.002612,2.975415
11-0,2.655040,2.833770,2.574451,2.943081,2.699790,2.898145,2.806258,2.750382,2.726217,2.842374,...,3.018199,3.008423,2.991255,3.042449,3.038007,3.017007,3.020839,3.008445,3.049181,3.023215
12-1,2.648185,2.877628,2.570760,3.000661,2.694708,2.932100,2.855439,2.741716,2.733107,2.844842,...,3.027066,3.030288,3.016894,3.056752,3.060527,3.036985,3.047133,3.025386,3.065775,3.045407
13-2,2.820829,3.041703,2.742055,3.139123,2.890275,3.095192,3.011358,2.885354,2.857587,3.011534,...,3.154293,3.157469,3.143392,3.185359,3.189198,3.164508,3.175121,3.152526,3.194610,3.173334
14-2,2.663652,2.876622,2.637417,2.995094,2.752354,2.949506,2.836989,2.751953,2.750623,2.867196,...,3.030057,3.022872,3.004018,3.060349,3.057774,3.032298,3.038921,3.021381,3.068766,3.040323
15-2,2.608808,2.840847,2.593680,2.957453,2.714599,2.919440,2.810909,2.732585,2.719516,2.796973,...,3.001371,2.986560,2.960899,3.037750,3.030825,2.999390,3.005163,2.986918,3.047236,3.008692
16-2,2.719732,2.913428,2.625443,3.018655,2.764202,2.977732,2.861695,2.773999,2.745752,2.919978,...,3.054103,3.057391,3.044200,3.083474,3.087306,3.063986,3.074115,3.052587,3.092322,3.072348
17-1,2.422897,2.650981,2.343487,2.776028,2.468734,2.708460,2.627739,2.516531,2.508110,2.618100,...,2.801730,2.805315,2.791968,2.831958,2.835802,2.811989,2.822455,2.800402,2.840699,2.820559
18-3,2.692665,2.928545,2.629102,3.039992,2.773497,2.980768,2.890864,2.768852,2.756843,2.884541,...,3.052103,3.055732,3.041156,3.084477,3.088735,3.063021,3.074159,3.050359,3.094382,3.072234
19-5,2.672444,2.928402,2.606745,3.027716,2.762805,2.986897,2.875573,2.753824,2.746182,2.852511,...,3.039551,3.044820,3.027224,3.079323,3.085399,3.053618,3.067803,3.038135,3.091624,3.065110
2-2,2.811518,3.034232,2.733699,3.131658,2.881676,3.086425,3.001794,2.876268,2.849380,3.002224,...,3.146391,3.149568,3.135453,3.177472,3.181366,3.156625,3.167250,3.144599,3.186818,3.165467
20-2,2.727338,2.920779,2.636007,3.027317,2.775308,2.987824,2.876986,2.785449,2.757158,2.929127,...,3.060560,3.063608,3.050144,3.090386,3.094036,3.070340,3.080571,3.058974,3.099061,3.078822
21-0,2.641705,2.820932,2.562878,2.929247,2.688027,2.885028,2.794847,2.743134,2.714014,2.830826,...,3.006355,2.996204,2.978822,3.030753,3.026035,3.004896,3.008652,2.996399,3.037342,3.011120
22-5,2.567315,2.777074,2.533432,2.913009,2.637260,2.839184,2.773482,2.697663,2.688046,2.772412,...,2.967654,2.958482,2.940434,2.994293,2.990291,2.967506,2.972243,2.957977,3.001724,2.974386
23-2,2.751102,2.971458,2.671902,3.069740,2.820349,3.023344,2.940567,2.815534,2.786508,2.942337,...,3.084817,3.087862,3.073768,3.115721,3.119459,3.094909,3.105365,3.082865,3.125084,3.103661
24-2,2.840236,3.074295,2.777159,3.182760,2.920215,3.129319,3.043695,2.916710,2.903392,3.035584,...,3.197042,3.200188,3.185332,3.229619,3.233535,3.207617,3.218679,3.195061,3.239319,3.216862
25-5,2.588121,2.842262,2.523988,2.944895,2.678347,2.903892,2.790573,2.672766,2.665309,2.768880,...,2.956540,2.962314,2.944771,2.997207,3.002838,2.971086,2.985295,2.955044,3.009431,2.982576
26-5,2.660134,2.849922,2.621320,2.969436,2.707521,2.938765,2.789103,2.727523,2.698747,2.863225,...,3.008952,2.999505,2.979778,3.038915,3.034843,3.009369,3.015116,2.998942,3.046779,3.017174
27-3,2.417359,2.654861,2.351926,2.766668,2.497654,2.707877,2.615458,2.493094,2.481029,2.608495,...,2.776956,2.780825,2.766188,2.809981,2.814280,2.788144,2.799643,2.775547,2.819549,2.797553
28-2,2.792330,3.012437,2.713193,3.110667,2.861272,3.065542,2.981199,2.855877,2.828903,2.983280,...,3.125432,3.128588,3.114450,3.156639,3.160418,3.135658,3.146279,3.123619,3.165894,3.144503
3-4,2.602635,2.842022,2.572257,2.947340,2.718595,2.885579,2.816933,2.723873,2.727107,2.781659,...,3.001052,2.994402,2.976269,3.030327,3.028095,3.003468,3.009962,2.992786,3.038679,3.011248
4-4,2.598721,2.839986,2.570957,2.943505,2.714414,2.884434,2.815646,2.720543,2.723505,2.780436,...,2.997449,2.991158,2.973120,3.026866,3.024882,3.000178,3.006843,2.989393,3.035324,3.008020
5-5,2.814885,3.008225,2.771407,3.126345,2.865109,3.089955,2.951770,2.888925,2.855472,3.017558,...,3.165773,3.157401,3.138306,3.195171,3.191938,3.166949,3.172843,3.156266,3.203605,3.174670
6-5,2.683014,2.919711,2.617905,3.029936,2.762559,2.971212,2.887144,2.755795,2.744142,2.874413,...,3.041719,3.045108,3.030451,3.073888,3.078124,3.052436,3.063467,3.039826,3.083879,3.061616
7-2,2.589028,2.830398,2.552487,2.939789,2.694022,2.877000,2.809867,2.702968,2.694793,2.774266,...,2.978184,2.973035,2.954817,3.009184,3.007914,2.982144,2.989696,2.970738,3.018027,2.990475
8-5,2.411625,2.668691,2.346666,2.768575,2.503777,2.732232,2.612468,2.494691,2.489412,2.593439,...,2.778807,2.785416,2.767620,2.821712,2.827760,2.794314,2.809964,2.778685,2.832730,2.806588
9-2,2.575453,2.791306,2.552465,2.912734,2.663696,2.864491,2.744619,2.662607,2.662384,2.774059,...,2.947183,2.939402,2.920350,2.977306,2.974347,2.948928,2.955295,2.938156,2.985585,2.956875

In [62]:
# ------------------------------------------------------------------
# 7 - Recommend Top-5 foods for a given wine
# ------------------------------------------------------------------

def recommend_foods_for_wine(wine_id, labels_df, wine_food_pred_df, combined_cf, n=5):
    """
    Recommend top-N foods for a given wine based on predicted pairing scores,
    using names from the 'labels_df' DataFrame.
    """
    # --- Check if the wine_id exists in the prediction matrix ---
    if wine_id not in wine_food_pred_df.index:
        print(f"‚ö†Ô∏è Wine ID {wine_id} not found in training data.")
        return None

    # --- Get the wine name from labels_df ---
    wine_name = labels_df.loc[labels_df.wine_id == wine_id, "wine_type"].values
    wine_name = wine_name[0] if len(wine_name) > 0 else f"Wine {wine_id}"

    # --- Get predicted pairing scores for all foods ---
    preds = wine_food_pred_df.loc[wine_id]

    # --- Get foods that this wine already paired with in the training data ---
    known_foods = combined_cf.loc[combined_cf.wine_id == wine_id, "food_id"].tolist()

    # --- Remove already-known pairings from recommendations ---
    preds = preds.drop(index=known_foods, errors="ignore")

    # --- Select top-N foods with the highest predicted scores ---
    top_foods = preds.sort_values(ascending=False).head(n)

    # --- Match food IDs with their names from labels_df ---
    recommendations = (
        pd.DataFrame({
            "food_id": top_foods.index,
            "predicted_score": top_foods.values
        })
        .merge(
            labels_df[["food_id", "food_item"]].drop_duplicates(),
            on="food_id", how="left"
        )
        .loc[:, ["food_item", "predicted_score"]]
    )

    # --- Display the final recommendations ---
    print(f"\nüç∑ Top {n} recommended foods for wine '{wine_name}' (ID={wine_id}):")

    return recommendations

In [63]:
recommend_foods_for_wine(3, labels_df, wine_food_pred_df, combined_cf, n=5)

‚ö†Ô∏è Wine ID 3 not found in training data.