In [47]:
# Collaborative Filtering - Recomendation system

import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error, mean_absolute_error
from math import sqrt
import yaml

# ------------------------------------------------------------------
# 1 - Load train/test paths from config.yaml
# ------------------------------------------------------------------
with open("../config.yaml", "r") as file:
    config = yaml.safe_load(file)

train_path = config['output_data']['train_file']
test_path = config['output_data']['test_file']

print("Loading data from config paths:")
print(f"  Train file: {train_path}")
print(f"  Test file : {test_path}")

Loading data from config paths:
  Train file: ../data/clean/train_file.csv
  Test file : ../data/clean/test_file.csv

In [162]:
train_df

,quality_label,description,wine_id,food_id,wine_type_Barbera,wine_type_Cabernet Sauvignon,wine_type_Cava,wine_type_Champagne,wine_type_Chardonnay,wine_type_Chenin Blanc,...,cuisine_Italian,cuisine_Japanese,cuisine_Korean,cuisine_Mexican,cuisine_Middle Eastern,cuisine_Moroccan,cuisine_Spanish,cuisine_Thai,cuisine_Vietnamese,pairing_quality
0,Poor,Delicate wine overwhelmed by red meat.,21,32,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,2
1,Terrible,Too lean for creamy dish.,15,16,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,1
2,Excellent,Idealized perfect pairing example for contrast.,3,7,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,5
3,Terrible,Deliberately bad pairing example for contrast.,20,37,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,1
4,Terrible,Tannic reds clash with delicate seafood.,21,33,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27941,Neutral,Tannic reds clash with delicate seafood.,11,33,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,3
27942,Poor,Heuristic pairing assessment.,6,22,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,2
27943,Neutral,Delicate wine overwhelmed by red meat.,16,32,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,3
27944,Poor,Heuristic pairing assessment.,23,34,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,2
27945,Terrible,Deliberately bad pairing example for contrast.,25,0,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,1

In [48]:
# ------------------------------------------------------------------
# 2 - Load clean training & test data
# ------------------------------------------------------------------
train_df = pd.read_csv(train_path)
test_df = pd.read_csv(test_path)

# Ensure essential columns exist
required_cols = ["wine_id", "food_id", "pairing_quality"]
for col in required_cols:
    assert col in train_df.columns, f"‚ùå Missing column '{col}' in train data!"
    assert col in test_df.columns, f"‚ùå Missing column '{col}' in test data!"

# Keep only collaborative filtering columns
train_cf = train_df[["wine_id", "food_id", "pairing_quality"]]
test_cf = test_df[["wine_id", "food_id", "pairing_quality"]]

print(f"‚úÖ Train shape: {train_cf.shape}, Test shape: {test_cf.shape}")
display(train_cf.head())

‚úÖ Train shape: (27946, 3), Test shape: (6987, 3)

   wine_id  food_id  pairing_quality
0       21       32                2
1       15       16                1
2        3        7                5
3       20       37                1
4       21       33                1

In [131]:
# ------------------------------------------------------------------
# 3Ô∏è - Create user‚Äìitem matrix (wines √ó foods)
# ------------------------------------------------------------------
from sklearn.metrics.pairwise import cosine_similarity

# Pivot table: rows = wines, columns = foods, values = pairing scores
wine_food_matrix = train_cf.pivot_table(
    index="wine_id",
    columns="food_id",
    values="pairing_quality"
)

print("Wine‚ÄìFood matrix shape:", wine_food_matrix.shape)

# Compute cosine similarity between wines (users)
wine_similarity = cosine_similarity(wine_food_matrix.fillna(0))
wine_similarity_df = pd.DataFrame(
    wine_similarity,
    index=wine_food_matrix.index,
    columns=wine_food_matrix.index
)

print("‚úÖ Wine similarity matrix computed:", wine_similarity_df.shape)

Wine‚ÄìFood matrix shape: (29, 38)
‚úÖ Wine similarity matrix computed: (29, 29)

In [132]:
# ------------------------------------------------------------------
# 4 - Predict ratings for unseen wine‚Äìfood pairs
# ------------------------------------------------------------------
def predict_cf(user_item_matrix, similarity_matrix):
    """
    Collaborative filtering prediction using weighted sum of similar users' ratings.
    """
    mean_user_rating = np.nanmean(user_item_matrix, axis=1)
    ratings_diff = np.where(np.isnan(user_item_matrix), 0, user_item_matrix - mean_user_rating[:, np.newaxis])
    pred = mean_user_rating[:, np.newaxis] + similarity_matrix.dot(ratings_diff) / np.abs(similarity_matrix).sum(axis=1)[:, np.newaxis]
    return np.nan_to_num(pred)

# Generate predictions for all wine‚Äìfood pairs
wine_food_pred = predict_cf(wine_food_matrix.values, wine_similarity)
wine_food_pred_df = pd.DataFrame(
    wine_food_pred,
    index=wine_food_matrix.index,
    columns=wine_food_matrix.columns
)

print("‚úÖ Collaborative filtering predictions computed.")

‚úÖ Collaborative filtering predictions computed.

In [133]:
# ------------------------------------------------------------------
# 5 - Evaluate Collaborative Filtering model
# ------------------------------------------------------------------
true_ratings = []
pred_ratings = []

for _, row in test_cf.iterrows():
    u, i, true_score = int(row.wine_id), int(row.food_id), row.pairing_quality
    if (u in wine_food_pred_df.index) and (i in wine_food_pred_df.columns):
        pred_score = wine_food_pred_df.loc[u, i]
        true_ratings.append(true_score)
        pred_ratings.append(pred_score)

if len(pred_ratings) > 0:
    rmse = sqrt(mean_squared_error(true_ratings, pred_ratings))
    mae = mean_absolute_error(true_ratings, pred_ratings)
    print(f"üìä Collaborative Filtering Evaluation:")
    print(f"  RMSE: {rmse:.4f}")
    print(f"  MAE : {mae:.4f}")
else:
    print("‚ö†Ô∏è No overlapping test ratings found for evaluation ‚Äî data may be too sparse.")

üìä Collaborative Filtering Evaluation:
  RMSE: 1.3989
  MAE : 1.1765

In [134]:
# ------------------------------------------------------------------
# 6 - Load the labels_df
# ------------------------------------------------------------------

with open("../config.yaml", "r") as file:
    config = yaml.safe_load(file)

labels_path = config['output_data']['labels_file']

labels_df = pd.read_csv(labels_path)

In [153]:
combined_cf = pd.concat([train_cf, test_cf], ignore_index=True)

In [154]:
test_cf

      wine_id  food_id  pairing_quality
0           7       29                2
1           3       19                2
2          21       28                1
3          28       15                5
4           4        5                2
...       ...      ...              ...
6982        4       18                3
6983       12       24                3
6984       28       11                4
6985       26       20                5
6986       16       13                3

[6987 rows x 3 columns]

In [155]:
train_cf

       wine_id  food_id  pairing_quality
0           21       32                2
1           15       16                1
2            3        7                5
3           20       37                1
4           21       33                1
...        ...      ...              ...
27941       11       33                3
27942        6       22                2
27943       16       32                3
27944       23       34                2
27945       25        0                1

[27946 rows x 3 columns]

In [156]:
combined_cf

       wine_id  food_id  pairing_quality
0           21       32                2
1           15       16                1
2            3        7                5
3           20       37                1
4           21       33                1
...        ...      ...              ...
34928        4       18                3
34929       12       24                3
34930       28       11                4
34931       26       20                5
34932       16       13                3

[34933 rows x 3 columns]

In [160]:
wine_food_pred_df

food_id,0,1,2,3,4,5,6,7,8,9,...,28,29,30,31,32,33,34,35,36,37
wine_id,,,,,,,,,,,,,,,,,,,,,
0,2.979064,2.977465,2.970520,2.915631,2.970468,2.708780,2.957427,2.951218,2.970822,2.960001,...,2.964425,2.980049,2.987618,2.954717,2.708889,2.995716,2.960116,2.952013,2.974907,2.980681
1,3.066951,3.060338,3.051886,3.017390,3.053967,2.818356,3.035955,3.033380,3.042182,3.047159,...,3.046780,3.053352,3.065947,3.047868,2.811473,3.069632,3.038401,3.044502,3.055427,3.061431
2,3.154549,3.148353,3.140320,3.107513,3.141295,2.920330,3.120487,3.119476,3.124909,3.139981,...,3.135239,3.139044,3.154651,3.131927,2.913911,3.154819,3.123473,3.135589,3.143199,3.149172
3,3.030228,3.027105,3.019541,2.973435,3.021181,2.766207,3.005351,2.996104,3.013280,3.012061,...,3.012110,3.021680,3.038499,3.005836,2.765329,3.044332,3.007991,3.009717,3.022857,3.028172
4,3.036084,3.032776,3.025194,2.979516,3.026857,2.772597,3.010943,3.001828,3.018725,3.017902,...,3.017797,3.027290,3.044075,3.011755,2.771595,3.049699,3.013582,3.015677,3.028489,3.033843
5,3.152529,3.149895,3.142306,3.107297,3.142910,2.900096,3.128289,3.119594,3.135179,3.146766,...,3.136033,3.140841,3.156692,3.139843,2.897889,3.156004,3.130839,3.135220,3.145011,3.152310
6,3.085455,3.078836,3.070391,3.035872,3.072465,2.836806,3.054466,3.051849,3.060679,3.065647,...,3.065286,3.071867,3.084457,3.066363,2.829989,3.088154,3.056913,3.062998,3.073939,3.079943
7,3.029334,3.025563,3.017569,2.975514,3.019381,2.771095,3.002784,2.997396,3.010641,3.009806,...,3.011813,3.020044,3.033582,3.008625,2.767020,3.040330,3.005294,3.005818,3.021459,3.026855
8,2.839583,2.831245,2.820282,2.786836,2.823862,2.585458,2.805600,2.806070,2.810148,2.815448,...,2.815935,2.819889,2.836242,2.816995,2.579207,2.836844,2.807944,2.813897,2.824206,2.829939
9,2.993357,2.990624,2.982961,2.940041,2.985356,2.740761,2.968760,2.958619,2.975690,2.979652,...,2.975025,2.982804,3.002348,2.976416,2.740514,3.000501,2.971341,2.976568,2.985824,2.991327
10,3.000406,2.998865,2.991941,2.936840,2.991893,2.729734,2.978904,2.972611,2.992330,2.981373,...,2.985833,3.001542,3.009106,2.976135,2.729980,3.017233,2.981590,2.973328,2.996345,3.002084
11,3.018105,3.016751,3.010581,2.962620,3.007933,2.754994,2.994840,2.986693,3.005302,3.015285,...,3.003273,3.011468,3.028950,2.986562,2.757175,3.027991,2.998233,3.002654,3.012631,3.019995
12,3.078447,3.072308,3.064490,3.023598,3.064890,2.818046,3.049335,3.050095,3.059464,3.059465,...,3.059485,3.069437,3.078930,3.053913,2.810845,3.083176,3.051965,3.055101,3.068182,3.073715
13,3.150785,3.144617,3.136600,3.103895,3.137506,2.917348,3.116541,3.115648,3.120852,3.136518,...,3.131518,3.135160,3.150940,3.127953,2.910958,3.150902,3.119563,3.132022,3.139436,3.145407
14,3.104139,3.101278,3.093562,3.051025,3.095921,2.852641,3.079177,3.069344,3.086066,3.090109,...,3.085721,3.093441,3.112690,3.087057,2.852042,3.111051,3.081764,3.087108,3.096458,3.101973
15,3.015986,3.013854,3.004423,2.959124,3.007802,2.756196,2.991541,2.984767,2.998523,2.997484,...,2.998190,3.004508,3.024030,2.998285,2.755914,3.024223,2.993981,2.992547,3.008557,3.013356
16,3.083462,3.077579,3.070004,3.036276,3.068808,2.827251,3.055170,3.048827,3.062985,3.074131,...,3.065032,3.071916,3.081794,3.060487,2.823969,3.085684,3.057854,3.062208,3.072658,3.082056
17,2.834463,2.828446,2.820561,2.779674,2.820899,2.574133,2.805367,2.806413,2.815839,2.815690,...,2.815490,2.825460,2.834925,2.809794,2.566606,2.839133,2.808005,2.811197,2.824186,2.829704
18,3.103042,3.096404,3.087956,3.053456,3.090032,2.854174,3.072054,3.069467,3.078325,3.083244,...,3.082855,3.089457,3.102008,3.083944,2.847319,3.105744,3.074492,3.080562,3.091500,3.097507
19,3.092666,3.084293,3.073616,3.039974,3.077115,2.838294,3.058939,3.058986,3.063350,3.068658,...,3.069310,3.073513,3.089515,3.070350,2.832323,3.090436,3.061279,3.067102,3.077595,3.083355
20,3.077719,3.071879,3.064242,3.029668,3.063347,2.823228,3.049223,3.043002,3.057033,3.066949,...,3.059207,3.066411,3.076425,3.054672,2.819870,3.080268,3.051905,3.056118,3.067042,3.076125
21,3.010001,3.008746,3.002574,2.954313,2.999981,2.746720,2.986904,2.978653,2.997421,3.007021,...,2.995249,3.003529,3.021024,2.978584,2.748977,3.020125,2.990288,2.994431,3.004657,3.011987
22,3.011216,3.009693,3.002779,2.947531,3.002721,2.740335,2.989772,2.983415,3.003251,2.992108,...,2.996671,3.012474,3.019936,2.986914,2.740673,3.028169,2.992456,2.984022,3.007192,3.012966
23,3.114127,3.107923,3.099898,3.067123,3.100860,2.880016,3.080017,3.079041,3.084405,3.099637,...,3.094828,3.098596,3.114237,3.091439,2.873614,3.114363,3.083003,3.095212,3.102771,3.108746
24,3.194962,3.188462,3.180002,3.145461,3.182081,2.947632,3.163947,3.161236,3.170140,3.175218,...,3.174835,3.181357,3.194109,3.175865,2.940712,3.197639,3.166404,3.172647,3.183538,3.189526
25,3.018751,3.010423,2.999768,2.966143,3.003243,2.764384,2.985078,2.985136,2.989553,2.994848,...,2.995449,2.999695,3.015619,2.996503,2.758333,3.016605,2.987416,2.993252,3.003729,3.009498
26,2.980818,2.978757,2.971142,2.935867,2.971671,2.728834,2.957207,2.948154,2.964509,2.976277,...,2.964635,2.969320,2.985642,2.968726,2.726769,2.984365,2.959771,2.964026,2.973720,2.981042
27,2.829359,2.822863,2.814310,2.779965,2.816361,2.581001,2.798323,2.795995,2.804864,2.809760,...,2.809122,2.815659,2.828269,2.810246,2.573772,2.831925,2.800772,2.806984,2.817766,2.823769
28,3.112818,3.106653,3.098624,3.065842,3.099576,2.879068,3.078701,3.077694,3.083084,3.098352,...,3.093531,3.097282,3.112965,3.090129,2.872661,3.113047,3.081701,3.093945,3.101491,3.107460

In [157]:
# ------------------------------------------------------------------
# 7 - Recommend Top-3 foods for a given wine
# ------------------------------------------------------------------

def recommend_foods_for_wine(wine_id, labels_df, wine_food_pred_df, combined_cf, n=5):
    """
    Recommend top-N foods for a given wine based on predicted pairing scores,
    using names from the 'labels_df' DataFrame.
    """
    # --- Check if the wine_id exists in the prediction matrix ---
    if wine_id not in wine_food_pred_df.index:
        print(f"‚ö†Ô∏è Wine ID {wine_id} not found in training data.")
        return None

    # --- Get the wine name from labels_df ---
    wine_name = labels_df.loc[labels_df.wine_id == wine_id, "wine_type"].values
    wine_name = wine_name[0] if len(wine_name) > 0 else f"Wine {wine_id}"

    # --- Get predicted pairing scores for all foods ---
    preds = wine_food_pred_df.loc[wine_id]

    # --- Get foods that this wine already paired with in the training data ---
    known_foods = combined_cf.loc[combined_cf.wine_id == wine_id, "food_id"].tolist()

    # --- Remove already-known pairings from recommendations ---
    preds = preds.drop(index=known_foods, errors="ignore")

    # --- Select top-N foods with the highest predicted scores ---
    top_foods = preds.sort_values(ascending=False).head(n)

    # --- Match food IDs with their names from labels_df ---
    recommendations = (
        pd.DataFrame({
            "food_id": top_foods.index,
            "predicted_score": top_foods.values
        })
        .merge(
            labels_df[["food_id", "food_item"]].drop_duplicates(),
            on="food_id", how="left"
        )
        .loc[:, ["food_item", "predicted_score"]]
    )

    # --- Display the final recommendations ---
    print(f"\nüç∑ Top {n} recommended foods for wine '{wine_name}' (ID={wine_id}):")

    return recommendations

In [159]:
recommend_foods_for_wine(3, labels_df, wine_food_pred_df, combined_cf, n=5)

üç∑ Top 5 recommended foods for wine 'Cava' (ID=3):

         food_item  predicted_score
0       lemon tart         3.043961
1  pork tenderloin         3.038499
2  duck √† l‚Äôorange         3.032329
3  Indian vindaloo         3.030228
4  vegetable curry         3.028172